.footer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-inline: var(--default-horizontal-padding);
}

.footer a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.listBox {
}

.heading {
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: normal;
}

.listBox ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.listBox ul li a {
  font-size: 13px;
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  .footer {
    padding-inline: 30px;
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .grid {
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .grid > :first-child {
    grid-column: 1/3;
    justify-self: center;
  }
  .grid > :last-child {
    grid-column: 1/3;
  }
}
